html {
  height: 100vh;
  width: 100%;
  background-color: #f1f1f1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: inherit;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  touch-action: manipulation;
}

button {
  border: none;
}

.display-none {
  display: none;
}

#facetec-logo {
  max-width: 200px;
}

#controls {
  width: 640px;
  padding: 50px 0;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  background-color: white;
  box-shadow: 20px 40px 50px rgb(0 0 0 / 10%);
}

.big-button {
  width: 50%;
  height: 50px;
  margin: 10px auto 0;
  color: white;
  background: #0768ff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-out;
  cursor: pointer;
  outline: none;
  margin-top: 50px;
}

@media (hover: hover) {
  .big-button:hover:enabled,
  .medium-button:hover:enabled {
    background-color: #5390f0;
    color: white !important;
    transition: all 0.3s ease-out;
  }
}

#status {
  color: #000;
  margin: 10px auto 0;
  display: none;
  font-size: 16px;
  width: 90%;
  display: block;
}

.wrapping-box-container {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: auto;
  color: #fff;
  padding: 10px;
  transition: opacity 800ms;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#custom-logo-container {
  margin-bottom: 50px;
}

#custom-logo-container img {
  max-height: 70px;
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
  padding-right: 4px;
}

button:disabled {
  cursor: not-allowed;
  color: #fff;
  background-color: #77a7f1;
}

a {
  text-decoration: none;
  color: inherit;
}

.faceid {
  width: 100px;
  margin: 0px auto;
}

@media (max-width: 767px) {
  #controls {
    width: 100%;
    box-shadow: none;
    justify-content: space-around;
    height: 100%;
  }
  html {
    background-color: #fff;
  }
  .wrapping-box-container {
    padding: 0;
  }
  .big-button {
    width: 90% !important;
  }
}
